body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  user-select: none;
}

body {
  font-family: Arial, sans-serif;
  background: url(@/assets/backImg/2.jpg) no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
}

/* 边缘羽化 */
.mask {
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3CforeignObject width='100%25' height='100%25'%3E%3Cbody class='wrap' xmlns='http://www.w3.org/1999/xhtml'%3E%3Cstyle%3E.wrap%7Bbox-sizing:border-box;margin:0;height:100%25;padding:10px%7D.shadow%7Bheight:100%25;background:%23000;border-radius:10px;box-shadow:0 0 5px %23000,0 0 10px %23000,0 0 15px %23000%7D%3C/style%3E%3Cdiv class='shadow'/%3E%3C/body%3E%3C/foreignObject%3E%3C/svg%3E")
}

.total {
  margin-bottom: 20px;
  text-align: center;
}

.game-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.game-card-reveal {
  flex: 1 1 calc(100% - 40px);
  max-width: 200px;
  margin: 10px;
}

.game-card {
  position: relative;
  height: 350px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease !important;
  border: 5px solid;
  background: #ffffffe6;
}

@media (min-width: 600px) {
  .game-card-reveal  {
    flex: 1 1 calc(50% - 40px);
  }
}

@media (min-width: 900px) {
  .game-card-reveal  {
    flex: 1 1 calc(33.333% - 40px);
  }
}

.game-card:hover {
  transform: translateY(-10px) !important;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.game-poster {
  width: 100%;
  display: block;
  object-fit: cover;
  user-select: none;
}

.game-info h3 {
  margin: 0;
  padding: 0 12px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-family: 'SmileySans', Tahoma, Arial, sans-serif;
}

.game-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  height: calc(100% - 300px);
}